<strong>PRODUCT CANCELED</strong>

<p>
  <strong>Product: </strong>{{ order.product }} <br />
  <strong>Recipient: </strong>{{ order.recipient.name }} <br />
</p>

<strong>Este produto foi cancelado pelo sequinte motivo: {{ problem.description }}</strong>

